.backgroundImage {
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(149, 149, 149, 0.6), rgba(148, 148, 148, 0.6)), url(../images/china-gf98bd0a45_1920.jpg);
  overflow: hidden;
}

