/*.card{
  border: none;
  --bs-card-spacer-y: 0;
  --bs-card-spacer-x: 0;

  & .card-footer{
    padding: 0;
    background-color: #fff;
    border-top: none;

  }

  & .card-text:last-child {
    margin-bottom: 1rem;
  }
}*/